@page
@model RazorPagesLogReg.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Confirm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Confirm)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
