@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Mastering Sessions!!!</p>

<p>How to Print a string set with session </p>
<p>@ViewBag.myString</p>

<p> How to grab a number with sessions</p>
<p>@ViewBag.myNum</p>

<p>To display properties in a class with session</p>
<p>Title property: @ViewBag.MyMovie.Title</p>
<p>Genre property: @ViewBag.MyMovie.Genre</p>
<p>Price property: @ViewBag.MyMovie.Price</p>

<p> This is another movie made with the same class</p>
<p>New title : @ViewBag.otherMovie.Title</p>
<p>New genre : @ViewBag.otherMovie.Genre</p>
<p>New Price : @ViewBag.otherMovie.Price</p>